
/* draggable targets */
[data-draggable="target"]
{
	float:left;
	list-style-type:none;
	width:100%;
	height:13.5em;
	overflow-y:auto;
	margin:0 0.5em 0.5em 0;
	padding:0.5em;
	border:2px solid #888;
	border-radius:0.2em;
	background:#ddd;
	color:#555;
}

/* drop target state */
[data-draggable="target"][aria-dropeffect="move"]
{
	border-color:#0099E6;

	background:#fff;
}

/* drop target focus and dragover state */
[data-draggable="target"][aria-dropeffect="move"]:focus,
[data-draggable="target"][aria-dropeffect="move"].dragover
{
	outline:none;
	
	box-shadow:0 0 0 1px #fff, 0 0 0 3px #0099E6;
}

/* draggable items */
[data-draggable="item"]
{
	background: #5bc0de none repeat scroll 0 0;
	margin:0 2px 3px 0;
	padding:0.2em 0.4em;
	border-radius:0.2em;
	line-height:1.3;
	color: white;
}

/* items focus state */
[data-draggable="item"]:focus
{
	outline:none;
	
	box-shadow:0 0 0 2px #0099E6, inset 0 0 0 1px #ddd;
}

/* items grabbed state */
[data-draggable="item"][aria-grabbed="true"]
{
	background:#0099E6;
	color:#fff;
}
